:root{
    --sec-clr: #19376D;
    /* --sec-clr: #110c82; */
    --btn-lite-color: rgb(204, 219, 238);

    /* --sec-col: #0B2447; */
    --white-bink-clr: #FFE6EB;
}
*{
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Inter', sans-serif;
    background: rgb(238,9,117);
    background: linear-gradient(117deg, rgba(238,9,117,1) 4%, rgba(223,80,45,1) 57%, rgba(253,89,29,1) 100%);
}
img{
    object-fit: cover;
}
ul {
    display: flex;
}
ul li{
    list-style: none;
}

.fixe-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.container{
    margin: 50px;
    /* height: 90%; */
    background-color: aliceblue;

}
div.container section.main{

    height: 50%;

}
div.container section.main header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 50px;
}
div.container section.main header h2{
    color: var(--sec-clr);
    display: flex;
    gap: 2px;
}
div.container section.main header h2 i{
    color: orangered;
    font-weight: bold;
    /* font-size: 30px; */
}
div.container section.main header img{
    border-radius: 0 50px 50px 0 ;
    height: 70px;
}
div.container section.main header ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
}
div.container section.main header ul li{
    list-style: none;
    color: var(--sec-clr); 
}
div.container section.main header ul li button{
    color: var(--sec-col);
    font-size: 16px;
    border-radius: 50px;
    padding: 15px 30px;
}
div.container section.main header ul li button.btn1{
    border: 1px solid var(--sec-clr);
    background: transparent;
}
div.container section.main header ul li button.btn2{
    border: none;
    /* background-color: rgba(245, 127, 127, 0.359); */
    background-color: var(--sec-clr);
    color: white;
 
}


div.container section.main .top{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 200px; */

 
}
.main-title{
    font-weight: bolder;
    font-size: 60px;
    color: var(--sec-clr);
    
}
span{
    color: orangered;
}
div.container section.main .botom{
    height: 700px;
    display: flex;
}
div.container section.main .botom .left{
    flex: .3;
    /* flex-direction: column; */
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-left: 30px;

}
div.container section.main .botom .left img.img1{
    width: 200px;
    height: 120px;
    border-radius: 60px;
    margin-top: 50px;
    /* justify-self: flex-end; */
}
div.container section.main .botom .left div.emage1{
    display: flex;
    justify-content: flex-end;
}
div.container section.main .botom .left img.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
div.container section.main .botom .center{
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15px;
}
/* div.container section.main .botom .center {
    justify-self: flex-start;
} */
div.container section.main .botom .center p{
    padding: 0 60px;
    color: var(--sec-clr);
    font-size: 15px;
    line-height: 20px;

}
div.container section.main .botom .center button{
    margin-top: 15px;
    padding: 20px 40px;
    border: none;
    background: rgb(241,12,120);
    background: linear-gradient(148deg, rgba(241,12,120,1) 14%, rgba(237,92,30,1) 85%, rgba(244,60,28,1) 96%);
    color: white;
    border-radius: 30px;
    
}
div.container section.main .botom .center img{
    height: 270px;
    width: 90%;
    border-radius: 150px;
    margin: 70px 0;
}
div.container section.main .botom .center p.upper-case{
    text-transform: uppercase;
    font-size: 13px;
}

div.container section.main .botom .right{
    padding-top: 100px;
    flex: .3;
    display: flex;
    flex-direction: column;
    gap: 130px;

}
div.container section.main .botom .right .emage2{
    display: flex;
    justify-content: flex-end;
}
div.container section.main .botom .right .img2{
    height: 160px;
    border-radius: 80px 0 0 80px;
    flex: .3;
}
div.container section.main .botom .right .avatar-con{
    display: flex;
    justify-content: center;
}
div.container section.main .botom .right .avatar2{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

/* ===== sec 2 ===== */

/* =============== start section 2 ============ */
section.second{
    margin-top: 70px; 
}
section.second nav {
    height: 60px;

    align-items: center;
}
section.second nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
section.second nav ul{
    list-style: none;
}

section.second div.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 250px;
    padding: 0 33%;
}
section div.top h2{
    font-weight: bold;
    font-size: 40px;
    color: var(--sec-clr);
}
section.second div.top p.upper-case{
    text-transform: uppercase;
    font-size: 13px;
    color: var(--sec-clr);
    white-space: 20px;
    
}
section.second div.top h2 span{
    color: orangered;
}

section.second div.botom{
    display: flex;
    gap: 30px;
    padding: 0 200px;
}
section.second div.botom div{
    height: 300px;

}
section.second div.botom div.img1{
    flex: .6;
}
section.second div.botom div.img2{
    flex: .3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
section.second div.botom div.img2 img{
    height: 45%;
}
section.second div.botom div.img3{
    flex: .3;
}
section.second div.botom img.img1{
    width: 100%;
    height: 100%;
}
section.second div.botom img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}


/* ============= start section 3 ============== */

section.three{
    margin-top: 60px;
    padding-bottom: 50px;
    background-color: var(--sec-clr);
    display: flex;
    flex-direction: column; 
}
section.three .m-title {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 170px;
}
section.three .m-title h2{
    font-size: 40px;
    font-weight: bold;
    color: white;

}
section.three nav {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}
section.three nav h3 {
    /* font-weight: bold; */
    font-size: 20px;
    color: orangered;
}
section.three nav ul {
    justify-content: space-between;
    gap: 60px;
    color: aliceblue;
    font-size: 15px;
    height: 100px;
}
section.three div.img-slider{
    padding-top: 60px;
    height: 330px;
    display: flex;
    gap: 30px;
}
section.three div.img-slider div.img-div{
    height: 100%;
    flex: 1;
}
section.three div.img-slider div.img-div:first-child{
    flex: .7;
    border-radius: 0 15px 15px 0;
}
section.three div.img-slider div.img-div:first-child img{
    flex: .7;
    border-radius: 0 15px 15px 0;
}
section.three div.img-slider div.img-div:last-child{
    flex: .5;
}
section.three div.img-slider div.img-div:last-child img{
    border-radius: 15px 0 0 15px;
}
section.three div.img-slider div.img-down{
    display: flex;
    align-items: flex-end;    
}
section.three div.img-slider div.img-center{
    display: flex;
    align-items: center; 
}

section.three div.img-slider img{
    height: 220px;   
    flex: 1;
    width: 100%;
    border-radius: 20px;
}
section.three  .slider-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    margin-top: -15px;
    
}
section.three  .slider-btn .cercl{
    border: 2px solid rgb(156, 215, 241);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section.three  .slider-btn i.fa-solid {
    color: rgb(156, 215, 241);
    padding: 6px;
}
section.three  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
section .btn button{
    margin-top: 15px;
    padding: 20px 40px;
    border: none;
    background: rgb(241,12,120);
    background: linear-gradient(148deg, rgba(241,12,120,1) 14%, rgba(237,92,30,1) 85%, rgba(244,60,28,1) 96%);
    color: white;
    border-radius: 30px;
}



/* ============= end section 3 ============== */
